</div></div></div>

<footer>
<div class="wrapper">
<div class="footer_info">
<p class="title">vcotime web designer</p>
<p><%= C.site_name %> -
<%= C.site_desc %> -
<%= C.email %> -
<%= C.version %>
</p></div>
</div>
</footer>
<div class="loading"></div>
<script>
    var Config = {
        img:'<%=C.surl%>/images',
        root:'',
        'jsurl':'<%=C.surl%>/js/',
		'site':''
    };
</script> 
<script src="<%=C.surl%>/js/seajs/aConfig.js"></script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5602bd48a626442d5a678827460ca3cf' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body></html>

